:root {
    --arial-font-family: "Inter-Regular", Helvetica;
    --arial-font-weight: 400;
    --arial-font-size: 20px;
    --arial-letter-spacing: 0px;
    --arial-line-height: normal;
    --arial-font-style: normal;
}
